<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruihua.springboot03.mappers.UserMapper">

    <insert id="insertNewUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user(
          username,password,salt
        )VALUES(
          #{username},#{password},#{salt}
        )
    </insert>

    <select id="findUser" resultType="java.lang.String">
        SELECT
          password
        FROM
          t_user
        WHERE
          username = #{username}
    </select>

</mapper>